<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers"
    xmlns:base="http://typo3.org/ns/SteinbauerIT/Base/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">

	<f:if condition="{data.tx_base_contentfilter_category}">
		<f:then><base:sysCategories parentId="{data.tx_base_contentfilter_category}" /></f:then>
		<f:else><base:sysCategories parentId="0" /></f:else>
	</f:if>
	
	<div class="btn-group btn-group-lg" role="group">
		<button type="button" class="content-filter-control btn-primary btn" data-filter="all">Alle</button>
		<f:for each="{categories}" as="category">

			<button type="button" class="content-filter-control btn-primary btn" data-filter=".category-{f:if(condition: '{category.l10n_parent}', then: '{category.l10n_parent}', else: '{category.uid}')}">{category.title}</button>
		</f:for>
	</div>

</f:section>
</html>
