<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
	<blockquote class="blockquote row align-items-center">
		<div class="col-md-2 text-right">
			<f:if condition="{data_tx_base_quote_picture}">
				<f:then>
						<t3sb:media file="{data_tx_base_quote_picture.0}" title="{data_tx_base_quote_picture.0.title}" alt="{f:if(condition: data_tx_base_quote_picture.0.alternative, then: '{data_tx_base_quote_picture.0.alternative}', else: 'image-{data_tx_base_quote_picture.0.uid}')}" class="{addmedia.imgclass}" width="150" height="150" breakpoints="{
				                        0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '380, 576, 768, 992, 1200'},
				                        1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '380, 576, 768, 992, 1199'},
				                        2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '60, 100, 200, 380, 575'}
				                    }" picturefill="false" />
	            </f:then>
	            <f:else>
	            	<i class="fas fa-quote-right"></i>
	            </f:else>
			</f:if>
		</div>
		<div class="col-md-10">
			<div class="mb-0 quote"><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_base_quote_text}</f:format.html></div>
			<footer class="blockquote-footer"><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_base_quote_author}</f:format.html></footer>
		</div>
	</blockquote>
</f:section>
</html>

