<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
    
    <div id="carouselIndicators{data.uid}" class="carousel {f:if(condition: '{data.tx_base_slider_use_fade}', then: 'carousel-fade', else: 'slide')}" data-ride="carousel">
        <f:if condition="{data.tx_base_slider_indicators} || {data.tx_base_slider_controls}">
            <ol class="carousel-indicators">
                <f:for each="{data_tx_base_slider_slides}" as="slide" iteration="iterator">
                    <li data-target="#carouselIndicators{data.uid}" data-slide-to="{iterator.index}"{f:if(condition: '{iterator.index} == 0', then: ' class="active"')}></li>
                </f:for>
            </ol>
        </f:if>
        <div class="carousel-inner">
            <f:for each="{data_tx_base_slider_slides}" as="slide" iteration="iterator">
                <div class="carousel-item{f:if(condition: '{iterator.index} == 0', then: ' active')}">
                    <t3sb:media file="{slide.data_tx_base_slider_picture.0}" title="{slide.data_tx_base_slider_picture.0.title}" alt="{f:if(condition: slide.data_tx_base_slider_picture.0.alternative, then: '{slide.data_tx_base_slider_picture.0.alternative}', else: 'image-{slide.data_tx_base_slider_picture.0.uid}')}" class="{addmedia.imgclass}" width="1920" height="1080" breakpoints="{
                        0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '380, 576, 768, 992, 1200'},
                        1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '380, 576, 768, 992, 1199'},
                        2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '60, 100, 200, 380, 575'}
                    }" picturefill="false" />

                    <f:if condition="{slide.data.tx_base_slider_text}">
                        <div class="carousel-caption d-none d-md-block">
                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{slide.data.tx_base_slider_text}</f:format.html>
                        </div>
                    </f:if>
                </div>
            </f:for>
        </div>
        <f:if condition="{data.tx_base_slider_controls}">
            <a class="carousel-control-prev" href="#carouselIndicators{data.uid}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Zurück</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators{data.uid}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Nach vor</span>
            </a>
        </f:if>
    </div>

</f:section>

</html>

