<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:if condition="{data.tx_t3sbootstrap_container}">
        <div class="{data.tx_t3sbootstrap_container}">
    </f:if>
    <div id="c{data.uid}" class="content content-type-{data.CType}{f:if(condition: '{data.tx_t3sbootstrap_extra_class}',then: ' {data.tx_t3sbootstrap_extra_class}')}
<f:if condition='{data.tx_t3sbootstrap_padding_sides}'>
      <f:then>
        <f:if condition='{data.tx_t3sbootstrap_padding_sides} == blank '>
          <f:then>
            p-{data.tx_t3sbootstrap_padding_size}
          </f:then>
          <f:else>
            p{data.tx_t3sbootstrap_padding_sides}-{data.tx_t3sbootstrap_padding_size}
          </f:else>
        </f:if>
      </f:then>
    </f:if>

    <f:if condition='{data.tx_t3sbootstrap_margin_sides}'>
      <f:then>
        <f:if condition='{data.tx_t3sbootstrap_margin_sides} == blank '>
          <f:then>
            m-{data.tx_t3sbootstrap_margin_size}
          </f:then>
          <f:else>
            m{data.tx_t3sbootstrap_margin_sides}-{data.tx_t3sbootstrap_margin_size}
          </f:else>
        </f:if>
      </f:then>
    </f:if>
">
        <f:if condition="{data._LOCALIZED_UID}">
            <a id="c{data._LOCALIZED_UID}"></a>
        </f:if>
        <f:if condition="{data.header_layout}">
            <f:if condition="{data.header}">
                <h{data.header_layout} class="{f:if(condition:'{data.header_position}', then: 'content-text-{data.header_position}')}{f:if(condition:'{data.subheader}', then: ' content-has-sub-headline')}"><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h{data.header_layout}>
            </f:if>
            <f:if condition="{data.subheader}">
                <f:if condition="!{data.header}">
                    <f:then>
                        <p class="content-sub-headline{f:if(condition:'{data.header_position}', then: ' content-text-{data.header_position}')}"><f:link.typolink parameter="{data.header_link}">{data.subheader}</f:link.typolink></p>
                    </f:then>
                    <f:else>
                        <p class="content-sub-headline{f:if(condition:'{data.header_position}', then: ' content-text-{data.header_position}')}">{data.subheader}</p>
                    </f:else>
                </f:if>
            </f:if>
        </f:if>
        <f:render section="Main" optional="true" />
    </div>
    <f:if condition="{newLine}">
        <div class="w-100"></div>
    </f:if>
    <f:if condition="{data.tx_t3sbootstrap_container}">
        </div>
    </f:if>
</f:spaceless>
</html>