<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers"
    xmlns:base="http://typo3.org/ns/SteinbauerIT/Base/ViewHelpers" data-namespace-typo3-fluid="true">

	<p><strong>Inhalts-Filter Menü</strong></p>
	<div style="padding: 10px 0 4px 0px; border-top: 1px solid #CACACA; margin-top: 6px;">
		<f:if condition="{processedRow.tx_base_contentfilter_category}">
			<f:then><base:sysCategories parentId="{processedRow.tx_base_contentfilter_category}" /></f:then>
			<f:else><base:sysCategories parentId="0" /></f:else>
		</f:if>
		
		Alle<f:for each="{categories}" as="category">, {category.title}</f:for>
	</div>
	
</html>
