<p><strong>Zitat</strong></p>
<div style="padding: 10px 0 4px 0px; border-top: 1px solid #CACACA; margin-top: 6px;">
	<div>
		<div class="mb-0 quote"><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{processedRow.tx_base_quote_text}</f:format.html></div>
		<footer class="blockquote-footer"><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{processedRow.tx_base_quote_author}</f:format.html></footer>
	</div>
	<f:if condition="{processedRow.tx_base_quote_picture}">
		<div><f:image src="{processedRow.tx_base_quote_picture.0.uid}" treatIdAsReference="1" width="60c" height="60c" /></div>
	</f:if>
</div>

