<p><strong>Slider</strong></p>
<div style="padding: 10px 0 4px 0px; border-top: 1px solid #CACACA; margin-top: 6px;">
	<f:for each="{processedRow.tx_base_slider_slides}" as="slide" iteration="iterator">
		<div style="float: left; margin-right: 5px; width: 60px;">
			<f:image src="{slide.tx_base_slider_picture.0.uid}" treatIdAsReference="1" width="60c" height="60c" />
			<f:if condition="{slide.tx_base_slider_text}">
				<div>
					<f:format.crop maxCharacters="20" respectHtml="TRUE"><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{slide.tx_base_slider_text}</f:format.html></f:format.crop>
				</div>
			</f:if>
		</div>
	</f:for>
	<div style="clear: both;">
		Kontrollbuttons <f:if condition="{processedRow.tx_base_slider_controls}"><f:then>aktiviert</f:then><f:else>deaktiviert</f:else></f:if><br />
		Slide-Indikatoren <f:if condition="{processedRow.tx_base_slider_indicators}"><f:then>aktiviert</f:then><f:else>deaktiviert</f:else></f:if><br />
		Fading statt Sliding-Übergang <f:if condition="{processedRow.tx_base_slider_use_fade}"><f:then>aktiviert</f:then><f:else>deaktiviert</f:else></f:if>
	</div>
</div>

