<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:if condition="{container}">
        <div class="{container}">
    </f:if>
    <div id="c{data.uid}" class="{data.tx_base_align} content content-type-{data.CType}{f:if(condition: '{data.tx_base_animation_type}',then: ' os-animation')}{f:if(condition: '{class}',then: ' {class}')}<f:for each="{data_categories}" as="category"> category-{category.data.uid}</f:for>{f:if(condition: '{data.tx_base_enable_filter}',then: ' mix')}"{f:if(condition: '{style}',then: ' style="{style}"')}{f:if(condition: '{data.tx_base_animation_type}',then: ' data-os-animation="{data.tx_base_animation_type}"')}{f:if(condition: '{data.tx_base_animation_delay}',then: ' data-os-animation-delay="{data.tx_base_animation_delay}"')}>
        <f:if condition="{data._LOCALIZED_UID}">
            <a id="c{data._LOCALIZED_UID}"></a>
        </f:if>
        <f:if condition="{data.header_layout}">
            <f:if condition="{data.header}">
                <h{data.header_layout} class="{f:if(condition:'{data.header_position}', then: 'content-text-{data.header_position}')}{f:if(condition:'{data.subheader}', then: ' content-has-sub-headline')}"><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h{data.header_layout}>
            </f:if>
            <f:if condition="{data.subheader}">
                <f:if condition="!{data.header}">
                    <f:then>
                        <p class="content-sub-headline{f:if(condition:'{data.header_position}', then: ' content-text-{data.header_position}')}"><f:link.typolink parameter="{data.header_link}">{data.subheader}</f:link.typolink></p>
                    </f:then>
                    <f:else>
                        <p class="content-sub-headline{f:if(condition:'{data.header_position}', then: ' content-text-{data.header_position}')}">{data.subheader}</p>
                    </f:else>
                </f:if>
            </f:if>
        </f:if>
        <f:render section="Main" optional="true" />
    </div>
    <f:if condition="{newLine}">
        <div class="w-100"></div>
    </f:if>
    <f:if condition="{container}">
        </div>
    </f:if>
</f:spaceless>
</html>
