<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:for each="{gallery.rows}" as="row">
        <div class="row">
            <f:for each="{row.columns}" as="image">
                <f:if condition="{image.media}">
                    <div class="col-md-{v:math.division(a: 12, b: '{row.columns -> f:count()}')} content-media{f:if(condition:'{data.imageorient} == 0', then: ' content-text-center')}{f:if(condition:'{data.imageorient} == 1', then: ' content-text-right')}{f:if(condition:'{data.imageorient} == 2', then: ' content-text-left')}">
                        <f:link.typolink parameter="{image.media.link}" title="{image.media.title}"><f:media file="{image.media}" width="{image.dimensions.width}" height="{image.dimensions.height}" alt="{image.media.alternative}" title="{image.media.title}" /></f:link.typolink>
                        <f:if condition="{image.media.description}">
                            <p class="content-image-caption">
                                {image.media.description}
                            </p>
                        </f:if>
                    </div>
                </f:if>
            </f:for>
        </div>
    </f:for>
</f:section>
</html>
