<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

	<f:if condition="{files}">
		<ul class="content-uploads">
			<f:for each="{files}" as="file" iteration="fileIterator">
				<li>
					<div>
                        <f:if condition="{data.uploads_type} == 1">
                            <img class="content-uploads-fileicon" src="{f:uri.resource(path: 'Icons/FileIcons/{file.extension}.gif', extensionName: 'frontend')}" alt="">
                        </f:if>
                        <f:if condition="{data.uploads_type} == 2">
                            <f:if condition="{f:uri.image(src: 'file:{f:if(condition: file.originalFile, then: \'file:{file.originalFile.uid}\', else: \'file:{file.uid}\')}')} != '/'">
                                <f:then>
                                    <a class="content-uploads-thumbnail" href="{file.publicUrl}" download="1">
                                        <f:media file="{file}" width="150" alt="{file.properties.alternative}" />
                                    </a>
                                </f:then>
                                <f:else>
                                    <img class="content-uploads-fileicon" src="{f:uri.resource(path: 'Icons/FileIcons/{file.extension}.gif', extensionName: 'frontend')}" alt="">
                                </f:else>
                            </f:if>
                        </f:if>
				        <a href="{file.publicUrl}" download="1">
							<span class="content-uploads-file-name">{f:if(condition: file.properties.title, then: file.properties.title, else: file.name) -> f:format.htmlspecialchars()}</span>
						</a>
						<f:if condition="{file.properties.description}">
							<span class="content-uploads-description">{file.properties.description}</span>
						</f:if>
						<f:if condition="{data.filelink_size}">
							<span class="content-uploads-filesize"><f:format.bytes value="{file.properties.size}" /></span>
						</f:if>
					</div>
				</li>
			</f:for>
		</ul>
	</f:if>

</f:section>
</html>
