@import "../../../../provider/Resources/Public/Styles/custom-variables";
@import "../../../../t3sbootstrap/Resources/Public/Contrib/Bootstrap/scss/functions";
@import "../../../../t3sbootstrap/Resources/Public/Contrib/Bootstrap/scss/variables";

.content-type-t3sbs_card.bg-primary .card-img-overlay {
    background-color: rgba($primary, 0.5);
}
.content-type-t3sbs_card.bg-success .card-img-overlay {
    background-color: rgba($success, 0.5);
}
.content-type-t3sbs_card.bg-info .card-img-overlay {
    background-color: rgba($info, 0.5);
}
.content-type-t3sbs_card.bg-warning .card-img-overlay {
    background-color: rgba($warning, 0.5);
}
.content-type-t3sbs_card.bg-danger .card-img-overlay {
    background-color: rgba($danger, 0.5);
}
.content-type-t3sbs_card.bg-white .card-img-overlay {
    background-color: rgba(#fff, 0.5);
}
.content-type-t3sbs_card.bg-customOne .card-img-overlay {
    background-color: rgba($customOne, 0.5);
}
.content-type-t3sbs_card.bg-customTwo .card-img-overlay {
    background-color: rgba($customTwo, 0.5);
}

#page-footer {
	background-color: $footer-background;
	color: $footer-color
}
#page-footer a {
    color: $footer-link-color;
    text-decoration: underline;
}
#page-footer a:hover {
    color: $footer-link-hover-color;
    text-decoration: none;
}

.navbar.navbar-light {
	background-color: $navbar-light-background;
}
.navbar.navbar-dark {
	background-color: $navbar-dark-background;
}

.bg-customOne {
	background-color: $customOne;
}
.bg-customTwo {
	background-color: $customTwo;
}
.text-custom1 {
	color: $customOne;
}
.tex-custom2 {
	color: $customTwo;
}

.tailcontainer { max-width:540px; min-height:360px; }