/* Lightcase fonts */
@font-face {
  font-family: 'lightcase';
  src: url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.eot?55356177");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.eot?55356177#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.woff?55356177") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.ttf?55356177") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/fonts/lightcase.svg?55356177#lightcase") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Basic styles */
img {
    max-width: 100%;
    height: auto;
}
iframe, video, audio {
    max-width: 100%;
}
.content-text-left {
    text-align: left;
}
.content-text-right {
    text-align: right;
}
.content-text-center {
    text-align: center;
}
.content-text-justify {
    text-align: justify;
}
.content-space-before-extra-large {
    margin-top: 3em;
}
.content-space-before-large {
    margin-top: 2em;
}
.content-space-before-medium {
    margin-top: 1em;
}
.content-space-before-small {
    margin-top: 0.5em;
}
.content-space-before-extra-small {
    margin-top: 0;
}
.content-space-after-extra-large {
    margin-bottom: 3em;
}
.content-space-after-large {
    margin-bottom: 2em;
}
.content-space-after-medium {
    margin-bottom: 1em;
}
.content-space-after-small {
    margin-bottom: 0.5em;
}
.content-space-after-extra-small {
    margin-bottom: 0;
}
.content > *:first-child {
    margin-top: 0;
}
.content > *:last-child {
    margin-bottom: 0;
}
.content-sub-headline {
    margin-top: 0;
    font-weight: bold;
}
.content-has-sub-headline {
    margin-bottom: 0;
}
.content-image, .content-media {
    margin-bottom: 0.5em;
}
.content-image-caption {
    margin: 0;
    font-size: 0.8em;
    color: #666;
}
.content-uploads-fileicon, .content-uploads-thumbnail {
    margin-right: 0.3em;
}
.content-uploads-thumbnail {
    display: block;
}
.content-uploads-description, .content-uploads-filesize {
    margin-left: 0.3em;
}
.content-uploads > li > div {
    margin-bottom: 0.4em;
}
.os-animation:not([data-os-animation="bounce"]):not([data-os-animation="flash"]):not([data-os-animation="pulse"]):not([data-os-animation="rubberBand"]):not([data-os-animation="shake"]):not([data-os-animation="headShake"]):not([data-os-animation="swing"]):not([data-os-animation="tada"]):not([data-os-animation="wobble"]):not([data-os-animation="jello"]) {
    opacity: 0;
}  
.os-animation.animated, .os-animation.animated:not([data-os-animation="bounce"]):not([data-os-animation="flash"]):not([data-os-animation="pulse"]):not([data-os-animation="rubberBand"]):not([data-os-animation="shake"]):not([data-os-animation="headShake"]):not([data-os-animation="swing"]):not([data-os-animation="tada"]):not([data-os-animation="wobble"]):not([data-os-animation="jello"]) {
    opacity: 1;
}
.content.mix {
    display: inline-block;
}
.card.hover .card-img-overlay {
    opacity: 0;
}
.card {
    overflow: hidden;
}
.card.hover, .card-group > .card.hover:only-child {
    border: none;
    border-radius: 0;
}
.card.hover.zoom > figure, .card.hover.zoom > div {
    transition: all .2s cubic-bezier(0.250, 0.250, 1.000, 0.460);
}
.card.hover:hover .card-img-overlay {
    opacity: 1;
}
.card.hover.zoom > div > * {
    transform: scale(0.9);
}
.card.hover.zoom:hover > figure, .card.hover.zoom:hover > div {
    transform: scale(1.1);
    overflow: hidden;
}
blockquote .fas {
    font-size: 250%;
}
blockquote .quote > p {
    display: inline;
}
blockquote .blockquote-footer > p {
    display: inline;
}

.row-eq-height .col, .row-eq-height [class*="col-"] {
    background-color: transparent;
    border: none;
}
.card-subtitle.text-muted {
    color: inherit !important;
}


#page-wrapper {
    padding-bottom: 3rem;
}
#page-footer {
    padding: 4rem 0;
}
.jumbotron {
    padding: 0;
    margin: 0;
}

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity .75s ease-in-out;
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1;
}
.carousel.carousel-fade {
    height: 650px;
}
.carousel.carousel-fade .carousel-inner {
    height: 100%;
}
.no-gutters .content-image {
    margin-bottom: 0;
}
