<f:layout name="Default" />
<f:section name="Main">
    <div class="tailcontainer pl-5 pr-5 d-flex align-items-center">
        <div class="row">
            <div class="col-md-12">
                {data.tx_gridelements_view_column_0 -> f:format.raw()}
            </div>
        </div>
    </div>
</f:section>