.btn-login { background:#1f2a43 !important; }
.btn-login:hover { background: #1e233e !important; }
.btn-login:focus, .typo3-login .btn-login:active { background:#1f2a43 !important; }
.typo3-login .typo3-login-container::after { position: absolute; display:block; right:0; top:0; content:''; background:url("../../Images/SteinbauerItLogo.png") no-repeat; background-size:200px; width:200px; height:35px; margin-right:2em; margin-top:2em; }
.typo3-login .panel {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=0, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 0 2px 40px rgba(0,0,0,0.3);/*FF 3.5+*/
    -webkit-box-shadow: 0 2px 40px rgba(0,0,0,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 2px 40px rgba(0,0,0,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.typo3-login .panel-body { border-bottom: 3px solid #1f2a43 !important; }
.typo3-login .typo3-login-logo>img { width:220px; height:auto; }

@media (max-width: 992px) {
    .typo3-login .typo3-login-container::after { left:50%; margin-right:0; margin-left:-100px; margin-top:2em; }
}